.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(0, 153, 153, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(0, 153, 153, 0.561) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #00b3b3 !important;
  border-color: #00b3b3 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #00b3b3d7 !important;
  border-color: #00b3b3d7 !important;
}